head{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #fff;
}

.text-cart{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}

.container{
    max-width: 390px;
    user-select: none;
}

.inner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 350px 350px 350px 350px 350px 350px 350px 380px 350px;
}

img{
    width: 150px;
    margin: 0;
    padding: 0;
}

.item{
    text-align: center;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(158, 31, 31);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

.btn:hover {
    background: rgb(94, 22, 22);
}

.usercard {
    text-align: center;
}

.ptext1{
    margin: 0;
    padding: 0;
    color: black;
}
.headers{
    max-width: 390px;
    height: 60px;
    text-align: center;
    background: rgb(158, 31, 31);
}

.nametext{
    padding: 0;
    margin: 0;
    color: #fff;
}
.nametext2{
    padding: 0;
    margin: 0;
    color: yellow;
}

.header-text{
    padding-top: 10px;
    margin-left: 140px;
    display: flex;
}

.cart-btn{
    padding-left: 130px;
    padding-right: 130px;
    margin:0 auto;
    padding-bottom: 10px;
    user-select: none;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.details-wrapper{
    user-select: none;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn1{
    display: inline-block;
    border: none;
    background: rgb(158, 31, 31);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    transition: background .2s linear;
}

.btn1:hover {
    background: rgb(94, 22, 22);
}

.btn_minus{
    width: 30px;
    height: 35px;
}

.btn_plus{
    width: 30px;
    height: 35px;
}

.cart-counter{
    margin: 5px 10px 5px 10px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* фон */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* При отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    
}
@media (min-width: 396px) {
  .modal-dialog {
      max-width: 390px;
       /* отображение окна по центру */
  }
}
/* Стили для блока с контентом окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* Стили заголовка окна */
.modal-header {
    background-color: rgb(158, 31, 31);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    color: #fff;
    text-align: center;
    padding-left: 135px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    
}
/* Стили кнопки "х" ("Закрыть")  */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* Стили блока основного содержимого окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.cart-shop{
    padding-left: 80px;
    height: 36px;
    width: 36px;
}